#encoding UTF-8

<html>
<head>
<meta content="text/html; charset=ISO-8859-1"
http-equiv="content-type">
<title></title>
</head>
<body>
<span style="font-family: Helvetica,Arial,sans-serif;">El siguiente
error evitó que se ejecutará correctamente</span><br
style="font-family: Helvetica,Arial,sans-serif;">
<span style="font-family: Helvetica,Arial,sans-serif;">el comando
"$command":</span><br style="font-family: Helvetica,Arial,sans-serif;">
<br style="font-family: Helvetica,Arial,sans-serif;">
<span
style="font-family: Helvetica,Arial,sans-serif; font-style: italic; font-weight: bold;">$error</span><br
style="font-family: Helvetica,Arial,sans-serif;">
<br style="font-family: Helvetica,Arial,sans-serif;">
<span style="font-family: Helvetica,Arial,sans-serif;">A continuación
se muestra el correo que fue enviado</span><br
style="font-family: Helvetica,Arial,sans-serif;">
<span style="font-family: Helvetica,Arial,sans-serif;">originalmente y
causó el error.</span><br
style="font-family: Helvetica,Arial,sans-serif;">
</body>
</html>

